---
layout: default
---

<h2 class="page-title">Project Leads</h2>

<!-- Display Rachel and Jon's bios -->

{% for author in site.data.authors %}
  {% if author[0] == "kangsoonju" %}
      {% include teammember.html %}
      <br>
  {% endif %}
{% endfor %}

<hr/>

<!-- Display bios for anyone tagged as core contributors -->

<h2 class="page-title">Core Contributors</h2>

{% for author in site.data.authors %}
  {% if author[0] != "kangsoonju" %}
      {% include teammember.html %}
      <br>
  {% endfor %}
{% endfor %}
